.container{
  display: flex;
  justify-content: space-between;
}

.sub-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width:150px;
  height:100px;
  background-image: url('https://res.cloudinary.com/dvvqbwhcc/image/upload/v1689533098/ANGULAR_PROJECT/StudioLogo_hhdiwd.png');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.user{
  margin: 0;
}
