<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let enroll"> {{enroll.id}} </td>
  </ng-container>

  <ng-container matColumnDef="student">
    <th mat-header-cell *matHeaderCellDef> Alumno </th>
    <td mat-cell *matCellDef="let enroll"> {{ !!enroll.student ? enroll.student.name + ' ' + enroll.student.lastName : '-' }} </td>
  </ng-container>

  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef> Curso </th>
    <td mat-cell *matCellDef="let enroll"> {{!!enroll.course ? enroll.course.nameCourse : '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let enroll">
      <button (click)="deleteEnrollment.emit(enroll)" mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


