<div class="container">

  <div>
    <h1 appTitles>Usuarios</h1>
    <p> Usuarios Registrados </p>
  </div>

  <div class="sub-container">
    <div class="button-container">
      <button (click)="onCreateUser()" mat-flat-button color="primary" type="button">
        <mat-icon>add</mat-icon>
        Agregar Usuario
      </button>
    </div>

    <div *ngIf="isLoading$ | async; else notLoadingTemplate">Está cargando</div>

    <ng-template #notLoadingTemplate>
      <app-users-table
        class="table"
        [dataSource]="(users | async) || []"
        (deleteUser)="onDeleteUser($event)"
        (editUser)="onEditUser($event)">
      </app-users-table>
    </ng-template>
  </div>

</div>
